.accordion_container {
  width: 100%;
}

.accordion_head {
  background-color: skyblue;
  color: white;
  cursor: pointer;
  font-family: arial;
  font-size: 14px;
  margin: 0 0 1px 0;
  padding: 7px 11px;
  font-weight: bold;
}

.accordion_body {
  background: #fff;
}

.accordion_body p {
 padding: 5px 0px;
  margin: 0px;
}

.plusminus {
  float: right;
}
