@charset "UTF-8";
/* CMS UI CSS */


a.selectedMe {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
    background-color: #FFFFFF;
    cursor: default;
    display: none;
    position: absolute;
    width: 394px;
    z-index: 50;
    padding: 20px;
    /* top: -19px; */
    margin: 25px 5px 5px 5px;
    transform: translate(28%, -44%);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:solid 1px #f1f1f1;
	text-align:center;
}

.messagepop input {
	width:100%;
	border-radius:50px;
	border:solid 1px #f1f1f1;
	padding:10px;
	margin-top:7px;
}
.messagepop button {
	width:100%;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border:solid 1px #f1f1f1;
	padding:13px 10px;
	background:#000;
	color:#fff;
	cursor:pointer;
	margin-top:7px;
}

#contact .lock {fill:#FFFFFF;
}
a#contact svg {
    width: 13px;
    margin-left: 5px;
}


