

.rslides {
  margin: 0 auto 40px;
  }

#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }


.events {
  list-style: none;
  }

.callbacks_container {
  margin-bottom: 0px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }
 .callbacks li::before {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: .2;
	z-index:8;
}
.callbacks li:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(320deg,#2b2b2b 25%,transparent 0,transparent 50%,#2b2b2b 0,#2b2b2b 75%,transparent 0,transparent);
    background-image: -moz-linear-gradient(320deg,#2b2b2b 25%,transparent 25%,transparent 50%,#2b2b2b 50%,#2b2b2b 75%,transparent 75%,transparent 100%);
    background-image: -o-linear-gradient(320deg,#2b2b2b 25%,transparent 25%,transparent 50%,#2b2b2b 50%,#2b2b2b 75%,transparent 75%,transparent 100%);
    background-image: linear-gradient(130deg,#2b2b2b 25%,transparent 0,transparent 50%,#2b2b2b 0,#2b2b2b 75%,transparent 0,transparent);
    background-size: 3.22px 4.22px;
    opacity: .2;
    z-index: 2;
}

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 70px;
  text-shadow: none;
  color: #fff;
/*  left: 0;*/
  right: 90px;
  top: 40%;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  font-family: 'NoeDisplay-Bold';
  text-align:center;
  z-index:10;
  }
 .callbacks .caption h5 {
    line-height: 0.5;
    margin: 0;
	font-size: 50px;
	font-weight:lighter;
	-moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.callbacks .caption h1 {
	margin:0;
	line-height: 1;
	-moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*.callbacks .caption h5::before {
    content: '';
    background: #fff;
    height: 0;
    position: absolute;
    border: solid 0.6px;
    width: 60px;
    left: 0;
}*/
/*.callbacks .caption h5::after {
    content: '';
    background: #fff;
    height: 0;
    position: absolute;
    border: solid 0.6px;
    width: 50px;
    left: 0;
    top: 14px;
}*/

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 30px;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  /*background: transparent url(../images/arrow.png) no-repeat left top;*/
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 30px;
  }

#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
  }


.success-notification {
    width: 100%;
    background-color: #25D366;
    color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20x;
    -webkit-border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
	font-size:14px;
	line-height: 18px;
    text-transform: initial;
	margin-top:5px;
}

#payment-notification-error{
    width: 100%;background-color:#FF0000; color:white;border-radius:20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#success-notification {
    width: 100%;
    background-color: #25D366;
    color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20x;
    -webkit-border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
	font-size:14px;
	line-height: 18px;
    text-transform: initial;
	margin-top:5px;
}

#error-notification{
    width: 100%;
	background-color:#FF0000; 
	color: #fff;
		border-radius:20px;
	-moz-border-radius:20x;
	-webkit-border-radius:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.error{
    text-transform: lowercase;
    color: #F00;
	font-size:14px;
}

