

.nav-container {
  width: 100%;
  background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}


.toggle-button {
    position: absolute;
    top: -19px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding:10px;
    margin: 8px 15px 8px 0;
    width: 44px;
    cursor: pointer;
    z-index: 7;
	background-color: #fff;
}

.bar {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 2px;
  border: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.bar + .bar {
  margin-top: 4px;
}

.middle {
  top: 15px;
}

.bottom {
  top: 30px;
}

.toggle-button:hover {
  opacity: .7;
}

.toggle-active .bar {
  background-color: #000;
  height: 5px;
}


.toggle-active .top {
  -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}

.toggle-active .middle {
  opacity: 0;
}

.toggle-active .bottom {
  -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
}


/** styling for the overlay. The sliding-down effect of the overlay is given by the initial zero height and the onclick 100% height. **/

.overlay {
  position: fixed;
  background:#fff;
  /*background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);*/
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  z-index:6;
}
#mobile-disable_nav {
	display: none;
}


/* class added to the overlay on click*/

.nav-active {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index:999px;
}
/*.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 50;
}*/

.overlay ul {
  display: block;
  position: relative;
  left: 0;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  list-style: none;
  padding: 0;
}

.overlay ul li  {
    display: block;
    padding: 12px 5.43550vw;
    border-top: 1px solid #f1f1f1;
    font-size: 0.8rem;
	margin:0;
	position:relative;
	z-index:5;
	text-align:left;
	font-family: 'Brown-Regular';
}

.overlay ul li a {
  color: #1178b9;
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing: 1px;
  -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.overlay ul li a:hover {
	color:#0f1f40;
}

.hidden {
  opacity: 0;
}



.fc-hand-burgur {
	text-align:right;
}
.fc-hand-burgur .slider {
  width: 100%;
  height: 300px;
  background-color: #f03861;
}
.fc-hand-burgur .information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
}
.fc-hand-burgur .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
}
.fc-hand-burgur .information h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
}
.fc-hand-burgur .information p {
  padding: 10px 0px;
}
.fc-hand-burgur ul {
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fc-hand-burgur ul li {
  font-family: 'Brown-Regular';
  font-size: 0.8rem;
  font-weight: 400;
  color: #af927b;
  display: block;
  padding: 15px;
  text-transform:uppercase;
  position: relative;
  font-weight: lighter;
	-moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	letter-spacing: 1px;
	transition: .6s;
}
.fc-hand-burgur ul li a {
	text-decoration:none;
	color: #af927b;
}
.fc-hand-burgur ul li ul {
  display: none;
}
.fc-hand-burgur ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.fc-hand-burgur ul li:hover ul {
    display: block;
    margin-top: 0px;
    width: 200px;
    left: 0;
    position: absolute;
    padding-left: 0;
    text-align: left;
}
.fc-hand-burgur ul li:hover ul li {
  display: block;
  background: #af927b;
  border-bottom:solid 1px #997f6d;
  padding: 8px 13px;
  color:#514237;
  font-size: 12px;
  letter-spacing:0.4px;
}
.fc-hand-burgur ul li:hover ul li:last-child {
	border-bottom:none;
}
.fc-hand-burgur ul li:hover ul li a {
	color:#514237;
}
.fc-hand-burgur ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.fc-hand-burgur ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.fc-hand-burgur ul li:hover ul li:hover span {
  background-color: #ee204e;
}






@media (max-width:767px) {
	
#mobile-disable_nav {
		display:block;
	}
	
#site-header-app .bar {
  background-color: #0079e9;
  
	}
	
#site-header-app .toggle-button {
	right: -14px;
	margin: 8px 0px 8px 0;
	top:0;
}
.grid-pad.no-padding {
    padding-top: 15px;
}
.fa {
	padding-left:5px;
	font-size: 19px !important;
}
.main-navigation {
	display:none;
}

	
}

@media handheld, only screen and (max-width: 991px)
 {
	 .main-navigation {
	display:none;
}
	 
 }