.check-reset {
	display: inline;
	position: relative;
	padding-left: 27px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 10px;
}
.check-reset {
	display: inline;
	position: relative;
	padding-left: 27px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 6px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 10px;
}
/* Hide the browser's default radio button */
.check-reset input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: -30px;
	left: 0;
	height: 20px;
	width: 20px;
	background: transparent;
	border-radius: 50%;
	border: solid 2px #ccc;
}
/* On mouse-over, add a grey background color */
.check-reset:hover input ~ .checkmark {
	background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.check-reset input:checked ~ .checkmark {
	background-color: transparent /*#e5e5e5*/;
	border: solid 2px #1178b9;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */
.check-reset input:checked ~ .checkmark:after {
	display: block;
}
/* Style the indicator (dot/circle) */
.check-reset .checkmark:after {
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #1178b9;
}
.check-reset img {
	width: 19%;
}
.lb-1 {
	fill: #000;
}
.lb-2 {
	fill: #010101;
}
.lb-3 {
	fill: #FFFFFF;
}
.l-1 {
	fill: #010101;
}
.l-2 {
	fill: #FFFFFF;
}
.l-3 {
	fill: none;
	stroke: #FAA435;
	stroke-width: 10;
	stroke-miterlimit: 10;
}
.l-4 {
	fill: #FFFFFF;
	stroke: #FAA435;
	stroke-width: 10;
	stroke-miterlimit: 10;
}
.insta {
	fill: #FFFFFF;
}
.facebook {
	fill: #FFFFFF;
}
.social-icons svg {
	width: auto;
	height: 30px;
	display: inline-table;
	margin-left: 3px;
}
.social-icons a {
	text-decoration: none;
}
.social-icons {
	position: relative;
	margin-top: -6px;
}
footer .social-icons {
	text-align: right;
	top: 0;
	margin-top: 10px;
}
.bet-18 {
	fill: #FFFFFF;
}
.bet-out {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 5;
	stroke-miterlimit: 10;
}
.msg-icon {
	fill: #2A3990;
	stroke: #2A3990;
	stroke-miterlimit: 10;
}
.message-icon svg {
	width: auto;
	height: 20px;
}
/**
 * Box model adjustments
 * `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5
 */



/**
 * Modals ($modals)
 */

/* 1. Ensure this sits above everything when visible */
.modal {
	position: absolute;
	z-index: 10000; /* 1 */
	top: 0;
	left: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
}
.modal.is-visible {
	visibility: visible;
}
.modal-overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}
.modal-transition {
	transition: all 0.3s 0.12s;
	transform: translateY(-10%);
	opacity: 0;
}
.modal.is-visible .modal-transition {
	transform: translateY(0);
	opacity: 1;
}
.modal-header, .modal-content {
	padding: 1em;
}
.modal-header {
	position: relative;
}
.modal-close {
	position: absolute;
	top: 42px;
	right: 10px;
	padding: 1em;
	color: #aaa;
	background: no-repeat;
	border: 0;
	display: none;
}
.modal-close:hover {
	color: #777;
}
.modal-heading {
	font-size: 1.125em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.modal-content > *:first-child {
	margin-top: 0;
}
.modal-content > *:last-child {
	margin-bottom: 0;
}
.p-close {
	fill: #FFFFFF;
}
.modal-close svg {
	width: auto;
	height: 32px;
}
.click-play-btn {
	background-image: -webkit-gradient(linear, left top, right top, from(#EB2226), color-stop(51%, #00a9e9), to(#00a9e9));
	background-image: -webkit-linear-gradient(left, #0079e9 0%, #0079e9 51%, #00a9e9 100%);
	background-image: -o-linear-gradient(left, #00a9e9 0%, #0079e9 51%, #0079e9 100%);
	background-image: linear-gradient(to right, #00a9e9 0%, #0079e9 51%, #0079e9 100%);
	background-size: 200% auto;
	-webkit-transition: all 400ms ease-out;
	-o-transition: all 400ms ease-out;
	transition: all 400ms ease-out;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	padding: 18px 40px 14px 40px;
	text-decoration: none;
	font-family: 'VAG Rounded';
	font-weight: bold;
	color: #fff;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
	border: solid 8px #fff;
	margin-top: 4px;
}
.click-play-btn:hover {
	background-position: center;
	text-align: center;
	color: #fff;
	margin-top: 2px;
}
fieldset {
	border: solid 1px #e8e8e8;
	border-radius: 5px;
}
legend h1 {
	font-size: 25px !important;
	font-family: 'VAG Rounded' !important;
	font-weight: bold !important;
}
fieldset div {
	padding-left: 0 !important;
}
.arrow {
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 50% 50%;
	transform: translate3d(-50%, -50%, 0);
}
.arrow-first {
 animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
 animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}
.arrow:before, .arrow:after {
	background: #fff;
	content: '';
	display: block;
	height: 3px;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
}
.arrow:before {
	transform: rotate(45deg) translateX(-23%);
	transform-origin: top left;
}
.arrow:after {
	transform: rotate(-45deg) translateX(23%);
	transform-origin: top right;
}
 // Animation @keyframes arrow-movement {
 0% {
 opacity: 0;
 top: 45%;
}
 70% {
 opacity: 1;
}
 100% {
 opacity: 0;
}
}
.flaticon-next:before {
	content: "\e001";
}
.flaticon-back:before {
	content: "\e002";
}
.flaticon-facebook:before {
	content: "\e003";
}
.flaticon-instagram:before {
	content: "\e004";
}
.flaticon-instagram-1:before {
	content: "\e005";
}
.flaticon-right-arrow:before {
	content: "\e006";
}
.flaticon-left-arrow:before {
	content: "\e007";
}
.flaticon-play-button:before {
	content: "\e008";
}
.flaticon-arrow-down-sign-to-navigate:before {
	content: "\e009";
}
.flaticon-winner:before {
	content: "\e00a";
}
.flaticon-shopping-bag:before {
	content: "\e00b";
}
.flaticon-money:before {
	content: "\e00c";
}
.flaticon-save-money:before {
	content: "\e00d";
}
.flaticon-coins-1:before {
	content: "\e00e";
}
.flaticon-wallet:before {
	content: "\e00f";
}
.flaticon-credit-card:before {
	content: "\e010";
}
.flaticon-wallet-1:before {
	content: "\e011";
}
.flaticon-sale:before {
	content: "\e012";
}
#close-promo {
    display: inline-block;
    /* padding: 2px 5px; */
    border-radius: 200px;
    /* width: 28px; */
    cursor: pointer;
    position: absolute;
    right: 83px;
    top: 17px;
    text-align: center;
}
#close-promo:hover {
	display: inline-block;
	opacity:.8;
}
.promo-app {
	background:#ffcd05;
	transition: margin-top .5s;
}
.promo-app div {
	width:64%;
	margin:auto;
	text-align:center;
	color:#5b3624;
	padding:10px 0 10px;
}
.close-ads {
	fill:#FFFFFF;
	}
.promo-app svg {
	height:auto;
	width:30px;
}