.w3-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s;}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}



.w3-bar button.mtn {
	background:#ffce00;
	border:solid 1px #ffce00;
}
.w3-bar button.vodafone {
	background:#e91a1a;
	border:solid 1px #e91a1a;
}
.w3-bar button.airtel {
	border:solid 1px #1c3d79;
}

.w3-bar button img {
	width:100px;
}



/* Style the list */
.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.w3-bar {
	margin-bottom:5px;
	padding-bottom:10px;
}


/* Style the links inside the list items */
.tab button {
    border:solid 0px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	outline:none;
	opacity:.3;
	position:relative;
	cursor:pointer;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	background:#fff;
}
.tab button:hover {
	opacity:1;
	cursor:pointer;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

/* Change background color of links on hover */
.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
.tab button.active {border-bottom:solid 0px #0F0;
opacity:1;}
.tab button.active.mtn {border:solid 1px #ffce00;}
.tab button.active.airtel {border:solid 1px #1c3d79;}
.tab button.active.vodafone {border:solid 1px #e91a1a;}

/* Style the tab content */
/*.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}*/


.tab button.active.mtn::before {
    content: " ";
    position: absolute;
    width: 6px;
    bottom: -6px;
    background: url(../svg/svg-mtn.png) center no-repeat;
    background-size: 10px;
    padding: 4px;
}

.tab button.active.vodafone::before {
    content: " ";
    position: absolute;
    width: 6px;
    bottom: -6px;
    background: url(../svg/svg-voda.png) center no-repeat;
    background-size: 10px;
    padding: 4px;
}
.tab button.active.airtel::before {
    content: " ";
    position: absolute;
    width: 6px;
    bottom: -7px;
    background: url(../svg/svg-tigo.png) center no-repeat;
    background-size: 10px;
    padding: 4px;
}
.networks.airtel, 
.networks.voda {
	color:#fff;
}
.momo-users img {
	width:90%;
}
.momo-users h1 {
    font-size: 21px;
    line-height: 1;
    margin-bottom: 10px;
	color:#f4770f;
	font-family: 'VAGRounded-Light';
	font-weight:lighter;
}
.payment-app-section {
    padding-top: 50px;
    border-top: solid 1px #bab9b9;
    margin-top: 20px;
}