/*
  Property Owner: Keed NLA
  Project Page - Lucky3 Numbers Game
  Author - Appiah Francis
  Site - http://lucky3.keed-nla.com
*/




@font-face {
	font-family: 'VAGRoundedStd-Thin';
	src: url('../../fonts/VAGRoundedStd-Thin.eot');
	src: url('../../fonts/VAGRoundedStd-Thin.eot?#iefix') format('embedded-opentype'),  url('../../fonts/VAGRoundedStd-Thin.svg#VAGRoundedStd-Thin') format('svg'),  url('../../fonts/VAGRoundedStd-Thin.ttf') format('truetype'),  url('../../fonts/VAGRoundedStd-Thin.woff') format('woff'),  url('../../fonts/VAGRoundedStd-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'VAG Rounded';
	src: url('../../fonts/VAG-Rounded-Bold.eot');
	src: local('../../fonts/VAG Rounded Bold'), local('../../fonts/VAG-Rounded-Bold'),  url('../../fonts/VAG-Rounded-Bold.eot?#iefix') format('embedded-opentype'),  url('../../fonts/VAG-Rounded-Bold.woff2') format('woff2'),  url('../../fonts/VAG-Rounded-Bold.woff') format('woff'),  url('../../fonts/VAG-Rounded-Bold.ttf') format('truetype'),  url('../../fonts/VAG-Rounded-Bold.svg#VAG-Rounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'VAGRounded-Light';
	src: url('../../fonts/VAGRounded-Light.eot');
	src: url('../../fonts/VAGRounded-Light.eot?#iefix') format('embedded-opentype'),  url('../../fonts/VAGRounded-Light.svg#VAGRounded-Light') format('svg'),  url('../../fonts/VAGRounded-Light.ttf') format('truetype'),  url('../../fonts/VAGRounded-Light.woff') format('woff'),  url('../../fonts/VAGRounded-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src: url('../../fonts/PlayfairDisplay-Regular.eot');
	src: url('../../fonts/PlayfairDisplay-Regular.woff2') format('woff2'), url('../../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../../fonts/PlayfairDisplay-Regular.ttf') format('truetype'), url('../../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'), url('../../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body, html {
	margin: 0;
	height: 100%;
	font-family: 'VAGRoundedStd-Thin';
	line-height: 24px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
audio, embed, img, object, video {
	height: auto;
	max-width: 100%;
}
ol {
	padding-left: 40px !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input {
	outline: none;
}
th, td {
	text-align: left;
	padding: 10px;
	font-size: 14px;
}
td {
	border-left: solid 1px #e8e8e8;
	border-right: solid 0px #e8e8e8;
	border-top: solid 1px #e8e8e8;
}
td:last-child {
	border-right: solid 1px #e8e8e8;
}
table {
	/*border-collapse: collapse;*/
	border-spacing: 0;
	width: 100%;
	border: 0px solid #ddd;
}
tr:nth-child(even) {
	background-color: transparent #fff;
	border-bottom: solid #e8e8e8 1px;
}
tr:nth-child(even) {
	background-color: #E4E4E1 transparent;
	border-bottom: solid #e8e8e8 1px;
}
tr:first-child, tr:last-child {
	border: 0;
}
table td a, tr {
	color: #3D3D3D;
}
.table-header {
	background: #2aa8e0 !important;
}
th {
	color: #fff;
	text-transform: uppercase;
	font-family: 'VAG Rounded';
}
th:first-child {
	border-top-left-radius: 4px;
	border-right: solid 0px #fff;
}
th:last-child {
	border-top-right-radius: 4px;
	border-left: solid 0px #fff;
}
/*Site Structure Begins*/


#deposit {
	display: block;
}
#mobile-disable_nav {
	display: none;
}
#site-header-app {
	width: 100%;
	background: transparent;
	position: absolute;
	z-index: 6;
	padding-bottom: 0px;
}
#body-app {
	display: table;
	width: 100%;
	position: relative;
}
._no_padding {
	padding: 0 !important;
}
.home-app {
	position: relative;
	z-index: 5;
	/*top: 140px;*/
	align-items: center;
	/*margin-left: 6%;*/
	display: block;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
}
.data-app {
	margin: auto;
	float: none !important;
}
.App-hero {
	position: absolute;
	z-index: 10;
	width: 100%;
}
nav {
	display: block;
	text-align: right;
	margin-right: 0;
}
nav li a {
	font-family: 'VAG Rounded';
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	color: #1178b9;
	text-decoration: none;
	font-size: 14px;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	letter-spacing: 0.5px;
}
nav li a:hover {
	color: #fff;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
nav li a.active {
	border-bottom: solid 1px;
	color: #fff;
}
nav ul li {
	padding-right: 25px;
	display: inline-table;
}
nav ul {
	position: relative;
}
.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	margin-top: 0px;
	border-top: solid 1px #C9C9C9;
	padding: 10px 0 10px 0;
	background: #F7F7F7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
span.pg-prev, span.pg-next {
	padding: 0 12px 0 12px;
	line-height: 2.4;
}
.page-num {
	margin: auto;
}
.page-link {
	background: transparent;
	font-weight: 400;
	display: inline-block;
}
.page-link {
	position: relative;
	display: inline-block;
	padding: 0.25rem 0.70rem;
	margin-left: -1px;
	line-height: 1.25;
	margin-right: 0px;
	color: #000;
	background-color: transparent;
	text-decoration: none;
}
.page-link.active {
	color: #fff;
	background: rgb(23,54,106);
	background: -moz-linear-gradient(90deg, rgba(23,54,106,1) 0%, rgba(42,168,224,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(23,54,106,1) 0%, rgba(42,168,224,1) 100%);
	background: linear-gradient(90deg, rgba(23,54,106,1) 0%, rgba(42,168,224,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17366a", endColorstr="#2aa8e0", GradientType=1);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#first-last a {
	background: #fff;
	border: solid 1px #E4E4E1;
	border-radius: 4px;
	-webkit-radius: 4px;
	-moz-radius: 4px;
	padding: 0.40rem 0.70rem;
	margin-left: -1px;
	line-height: 1.25;
	margin-right: 0px;
	color: #000;
	text-decoration: none;
}
#App-Section {
	width: 100%;
	display: table;
}
.Application-Clicks {
	display: none;
}
.social-app {
	display: inline-table;
	position: absolute;
	top: 0;
}
.social-app .ig {
	fill: #FFFFFF;
}
.social-app svg {
	height: 50px;
}
.logo-brand {
	position: relative;
	top: -5px;
	display: block;
}
.logo-brand svg {
	width: 103px;
	height: auto;
}
#site-header-app .col-9-12 {
	width: 66%;
}
.home-app .bet-app {
	background: rgba(255,255,255,.5);
}
.home-app .bet-app .checkmark {
	border: #fff solid 2px;
}
.bet-app {
	background: rgba(255,255,255,.9);
	padding: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	font-family: 'VAGRoundedStd-Thin';
	text-transform: uppercase;
	position: relative;
}
.bet-app input {
	font-family: 'VAGRoundedStd-Thin';
}
.bet-app div {
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}
.bet-app div:first-child {
	margin-bottom: 9xp;
	line-height: 1;
}
.bet-app input[type=tel] {
	background: #FFF;
	border-radius: 9999px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	padding: 12px 12px 12px 51px;
	font-size: 14px;
	color: #222;
	width: 100%;
	border: #fff none;
	box-shadow: 0px 0px 9px -5px #222;
}
.submit_btn {
	background: #1178b9;
	width: 100%;
	border-radius: 9999px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	padding: 16px 11px 13px 12px;
	text-align: center;
	color: #fff;
	outline: none;
	font-family: 'VAG Rounded' !important;
	text-transform: uppercase;
	font-size: 22px;
	border: solid 0;
	moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
input.submit_btn {
	outline: none;
}
input.submit_btn:hover {
	cursor: pointer;
	background: #f15a2c;
	moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.modal-wrapper {
	position: fixed;
	z-index: 9999;
	top: 6em;
	left: 55%;
	width: 25em;
	margin-left: -16em;/* box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);*/
}
.app-l.telephone_digit {
	top:2px !important;
}
.bet-app label.app-l {
	position: absolute;
	left: 10px;
	margin: 0;
	padding: 9px 12px 0 0;
 font-family:;
	font-size: 16px;
	color: #000;
	top: 24px;
}

.bet-app input.deposit-amount {
	padding: 11px 12px 12px 44px !important;
	text-align: left !important;
}
.bet-app input[type=number] {
	width: 32.4%;
	padding: 13px;
	text-align: center;
	border-radius: 9999px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	border: #fff none;
	font-size: 15px;
	box-shadow: 0px 0px 9px -5px #222;
}
input.deposit-amount {
	width: 100% !important;
}
.bet-app div h5 {
	margin: 0;
	font-family: 'VAG Rounded';
	color: #5d5d5d;
}
.ac-gn-link-hero {
	background-size: 44px 44px;
	background-repeat: no-repeat;
	background-image: url(../svg/home-hero.svg);
	background-position: center center;
	background-origin: content-box;
	background-size: cover;
	width: 33.14286em;
	max-width: 366.8px;
	text-indent: -999px;
	height: 70px;
}
.home-summary {
	color: #5b3624;
	font-family: 'VAGRoundedStd-Thin';
	margin: 20px 0 0 18px;
}
.go-app {
	display:flex;
}
a.go-linked {
	padding: 9px 20px;
	border-radius: 9999px;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	text-transform: uppercase;
	text-decoration: none;
	color: #5b3624;
	font-size: 13px;
	position: relative;
	padding-right: 28px;
	font-family: 'VAG Rounded';
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	background: transparent;
	border: solid 2px #5b3624;
}
a.go-linked::after {
	position: absolute;
	content: '';
	background: url(../svg/next.svg) no-repeat;
	background-size: 14px;
	padding: 18px;
	padding-left: 0;
	right: 7px;
	top: 15px;
}
a.go-linked:hover {
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	background: rgba(255,255,255,.6);
	border-color: transparent;
}
/*.go {
    background: url(../svg/go-icon.svg) no-repeat;
    background-size: 11px;
    padding: 8px;
    position: relative;
    top: 8px;
}*/

.intro-section {
	margin: auto;
	text-align: center;
	float: none !important;
	position: relative;
	margin-bottom: 50px;
	position: absolute;
	top: -31px;
	z-index: 5;
}
.dialup-app {
	text-align: center;
	width: 100%;
	position: relative;
}
.dialup-app p {
	background: #fff;
	box-shadow: 0px 0px 9px -5px #222;
}
.short-code-app {
	width: 100%;
	display: table;
	position: absolute;
	top: -1px;
	background: #fff;
	box-shadow: 0px 0px 9px -5px #222;
}
.hero-big {
	text-align: center;
	margin: auto;
	width: 80%;
	padding: 70px 0;
	color: #5d5d5d;
	font-family: 'VAGRounded-Light';
	line-height: 23px;
	font-size: 14px;
	position: relative;
	margin-top: 70px;
}
.hero-big p {
	padding-top: 30px;
	margin: 0;
}
/*.hero-big div.intro-summary::before {
    border-top: solid 5px #1178b9;
    content: "";
    position: absolute;
    width: 110px;
    margin: 0;
    display: block;
    text-align: center;
    margin-left: calc(50% - 65px);
    top: -2px;
}*/
.money-hero {
	width: 90%;
	display: block;
	margin: auto;
}
.money-hero em {
	position: relative;
	bottom: -30px;
	font-style: normal;
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'VAGRoundedStd-Thin';
	display: block;
	margin-bottom: 10px;
}
.money-hero img {
    width: 50%;
}
.flex-md-column {
    display: inline-block;
    background: #000;
    text-align: left;
    width: 59%;
    vertical-align: top;
}
.flex-md-column img {
	width:100%;
	height:auto;
}
.justify-content-start {
    justify-content: flex-start!important;
	flex-direction: column!important;
}
.column-text {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 0 0 0 16px;
}
.column-text h1 {
	font-size:20px;
/*	font-family: 'PlayfairDisplay-Regular';*/
	margin:0;
	text-align:left;
}
.Site-App-Body {
	width: 100%;
	display: table;
	position: relative;
}
.section-three-app {
	width: 100%;
	display: table;
	background: #eee;
	padding: 4em 0;
	overflow: hidden;
	background-image: url(../images/hero2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}
.section-three-app:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: -webkit-linear-gradient(320deg, #2b2b2b 25%, transparent 0, transparent 50%, #2b2b2b 0, #2b2b2b 75%, transparent 0, transparent);
	background-image: -moz-linear-gradient(320deg, #2b2b2b 25%, transparent 25%, transparent 50%, #2b2b2b 50%, #2b2b2b 75%, transparent 75%, transparent 100%);
	background-image: -o-linear-gradient(320deg, #2b2b2b 25%, transparent 25%, transparent 50%, #2b2b2b 50%, #2b2b2b 75%, transparent 75%, transparent 100%);
	background-image: linear-gradient(130deg, #2b2b2b 25%, transparent 0, transparent 50%, #2b2b2b 0, #2b2b2b 75%, transparent 0, transparent);
	background-size: 3.22px 4.22px;
	opacity: .2;
	z-index: 2;
}
section.home-intro-hero {
	background: #fdfdff;
	width: 100%;
	display: block;
}
.section-three-app-agent {
	width: 100%;
	display: table;
	background: #fff;
	padding: 4em 0;
	position: relative;
}
/*.section-three-app-agent:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(320deg,#2b2b2b 25%,transparent 0,transparent 50%,#2b2b2b 0,#2b2b2b 75%,transparent 0,transparent);
    background-image: -moz-linear-gradient(320deg,#2b2b2b 25%,transparent 25%,transparent 50%,#2b2b2b 50%,#2b2b2b 75%,transparent 75%,transparent 100%);
    background-image: -o-linear-gradient(320deg,#2b2b2b 25%,transparent 25%,transparent 50%,#2b2b2b 50%,#2b2b2b 75%,transparent 75%,transparent 100%);
    background-image: linear-gradient(130deg,#2b2b2b 25%,transparent 0,transparent 50%,#2b2b2b 0,#2b2b2b 75%,transparent 0,transparent);
    background-size: 3.22px 4.22px;
    opacity: .2;
    z-index: 2;
}*/

.nla-content {
	width: 70%;
	display: table;
	margin: auto;
	text-align: center;
	color: #fff;
	font-family: 'VAGRoundedStd-Thin';
}
.nla-content p {
	font-size: 40px;
	text-transform: uppercase;
	margin: 0;
	line-height: 1;
	padding-bottom: 10px;
}
span.sub-title {
	font-size:20px;
	color:#fff;
}
.select-3-numbers {
	display: block;
	position: relative;
	padding-top: 15px;
	text-align: center;
	width: 35%;
	margin: auto;
}
.social-icons span {
	padding-left: 5px;
	vertical-align: super;
	color: #fff;
	font-size: 13px;
	position: relative;
	top: -3px;
}
/*.dial-me-app {
    position: absolute;
    margin: auto;
    top: -40px;
    background: #fff;
    z-index: 1111;
    box-shadow: 0px 0px 28px -5px #c1c6d3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: calc(18% - 65px);
    margin-right: calc(20% - 65px);
    width: 700px;
}*/
.dial-me-app {
	margin: auto;
	background: #fff;
	z-index: 1111;
	box-shadow: 0px 5px 17px 0px #c1c6d3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 640px;
	display: table;
	position: initial;
	position: absolute;
	top: -2%;
	margin-left: 233px;
	margin-right: 233px;
}
/*.dial-me-app {
    margin: auto;
    top: -30px;
    background: #fff;
    z-index: 1111;
    box-shadow: 0px 5px 17px 0px #c1c6d3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 640px;
    display: table;
    position: initial;
}*/
.dial-me-app div {
	padding: 15px;
	text-align: center;
}
.dial-me-app div h2, h1, h3 {
	margin: 0;
}
.dial-me-app div h2, h3 {
	font-family: 'VAGRoundedStd-Thin';
	font-size: 22px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #565656;
}
.dial-me-app div h1 {
	font-size: 28px;
	font-family: 'VAG Rounded';
	text-transform: uppercase;
}
.dial-me-app div h2 {
	margin-top: 5px;
}
.dial-me-app div h1 {
	margin-bottom: 3px;
	margin-top: 3px;
}
.dial-987 {
	padding: 0;
	background: url(../images/dia-987.png) left no-repeat;
	background-size: 71px;
	padding-bottom: 60px !important;
}
.dial-987 h5 {
	margin: 0;
	font-size: 20px;
	text-align: center;
	width: 220px;
}
.dial-987 h5 p {
	margin: 0;
	font-family: 'VAG Rounded';
	font-size: 37px;
	color: #1178b9;
	top: 19px;
	position: relative;
}
.dial-987 h5 em {
	font-size: 16px;
	text-transform: uppercase;
	font-style: normal;
	font-family: 'VAGRoundedStd-Thin';
	font-weight: lighter;
	position: relative;
	top: 17px;
}
h1.locaion-area {
	background-image: url(../images/location-area.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-size: contain;
	max-width: 300px;
	height: 88px;
	margin: auto;
	width: 70%;
	text-indent: -999px;
}
.win-week-div {
	padding: 16px;
}
section.site-wrapper-app {
	width: 100%;
	display: flex;
	padding: 50px 0;
}
.hero-page-name {
	display: block;
	width: 35%;
}
ul.sub-nav li {
	display: block;
	background: #fff;
	border: solid 1px #eaeced;
	font-size: 15px;
	font-family: 'VAG Rounded';
}
ul.sub-nav li:last-child {
	border-top: none;
}
ul.sub-nav li:nth-child(2) {
	border-bottom: none;
}
ul.sub-nav li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: #383838;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	font-family: 'VAGRoundedStd-Thin';
	font-weight: 700;
}
ul.sub-nav li a:hover {
	color: #2aa8e0;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
ul.sub-nav li.selected {
	background: #eaeced;
	border-left: solid 1px #2aa8e0;
	border-bottom: 0;
	border-top: 0;
}
h4.header-text {
	color: #1178b9;
	margin: 0;
	padding-bottom: 10px;
	font-family: 'VAG Rounded';
	font-size: 35px;
	line-height: 1;
}
.page-section-flu {
	width: 100%;
	display: table;
	padding: 34px 0 0;
}
.page-content {
	padding-left: 40px;
	color: #5d5d5d;
	line-height: 25px;
	font-size: 16px;
}
.conact-app {
	padding-left: 0;
}
.form {
	background: #f2ede9;
	position: relative;
	padding: 35px;
}
.form label {
	color: #b7b3ae;
	font-size: 18px;
}
.form p {
	margin-top: 0;
}
.form h5, .call-info h5 {
	font-family: 'VAGRoundedStd-Thin';
	font-weight: lighter;
	color: #2a3990;
	font-size: 25px;
	margin: 0px 0 30px;
}
.call-info h5 {
	color: #fff;
	margin: 0px 0 50px;
}
.stacks-icons {
	background: url(../images/locator.png) no-repeat top left;
	padding-left: 40px;
	display: block;
	background-size: 25px;
	margin-bottom: 30px;
}
.stacks-icons-mobile {
	background: url(../images/mobile.png) no-repeat top left;
	padding-left: 40px;
	display: block;
	background-size: 25px;
	margin-bottom: 30px;
}
.stacks-icons-email {
	background: url(../images/email.png) no-repeat left;
	padding-left: 40px;
	display: block;
	background-size: 25px;
	margin-bottom: 30px;
}
.stacks-icons, .stacks-icons-mobile, .stacks-icons-email {
	color: #fff;
	font-size: 18px;
	font-family: 'VAGRounded-Light';
}
.form input {
	width: 100%;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: solid 1px #bab9b9;
	color: #5d5d5d;
	font-size: 18px;
	padding-bottom: 5px;
}
.form textarea {
	width: 100%;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: solid 1px #bab9b9;
	color: #5d5d5d;
	font-size: 18px;
	padding-bottom: 5px;
	min-height: 80px;
	overflow-x: hidden;
	overflow-y: hidden;
}
p.input-message {
	margin-bottom: 0;
}
.conact-app .col-1-2:first-child {
	padding-right: 0;
}
.form textarea {
	padding-bottom: 0;
	padding-left: 0;
}
.submit {
	background: url(../images/submit.png) no-repeat !important;
	text-indent: -999px;
	padding: 22px;
	text-align: center;
	background-size: contain !important;
	border: none !important;
	width: auto !important;
	cursor: pointer;
}
.submit:hover {
	opacity: .8;
	cursor: pointer;
}
.call-info {
	background: url(../images/card-bg.png) right bottom no-repeat #0c3e70;
	position: relative;
	padding: 35px;
	background-size: 140px;
	min-height: 498px;
}
.message-icon {
	position: absolute;
	right: 35px;
	top: 37px;
}
.pg-prev em, .pg-next em {
	font-style: normal;
	padding-right: 3px;
	padding-left: 3px;
}
span.pg-prev a, span.pg-next a {
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: 'VAG Rounded';
	text-decoration: none;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
span.pg-prev a:hover, span.pg-next a:hover {
	color: #727a7c;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.app-side-bar {
	position: fixed;
	right: 0;
	bottom: 85px;
	height: 230px;
	z-index: 10;
}
.app-side-bar li+li {
	margin-top: 6px;
}
.app-side-bar li {
	height: 39px;
	overflow: hidden;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #fff;
	text-align: center;
	line-height: 36px;
	width: 41px;
	background: rgb(0,169,233);
	background: -moz-linear-gradient(90deg, rgba(0,169,233,1) 0%, rgba(0,121,233,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(0,169,233,1) 0%, rgba(0,121,233,1) 100%);
	background: linear-gradient(90deg, rgba(0,169,233,1) 0%, rgba(0,121,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a9e9", endColorstr="#0079e9", GradientType=1);
	position: absolute;
	right: 0;
	top: 11px;
	transition: all 0.2s linear;
}
.app-side-bar li a span {
	position: absolute;
	top: 19%;
	left: 35%;
	display: block;
	background: url(../images/app-side-bar.png) no-repeat;
	background-size: 16px;
	width: 18px;
	height: 25px;
}
.play-button {
	position: absolute;
	top: 89%;
	z-index: 5;
	margin-left: -91px;
	left: 70%;
}
/*How To Play*/
.prize-number {
	background: #00a0d2;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	margin-bottom: 0px;
	position: relative;
	text-align: center;
	width: 48px;
}
.number-tables tr:nth-child(odd) {
	background-color: #e9f6ff;
}
table.number-tables {
	border-bottom: solid 1px #e8e8e8;
}
.networks {
	background: #ffce00;
	display: table;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
	text-align: center;
}
.networks img {
	max-width: 25%;
	text-align: center;
	margin-right: 0px;
}
#deposit .networks img {
	width: 100% !important;
	max-width: 100%;
}
#deposit .networks {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 1;
}
.networks.airtel {
	background: #1c3d79;
}
.networks.voda {
	background: #e91a1a;
}
.hero-big #deposit {
	display: none;
}
table.number-tables tr td:first-child {
	text-align: center;
}
table.number-tables tr td:last-child {
	text-align: left;
}
.winners-mobile-ads {
	margin: auto;
	text-align: center;
	width: 100%;
	display: none;
}
.winners-mobile-ads h1.show-header {
	display: block;
	opacity: 1;
	font-family: 'VAGRoundedStd-Thin';
	font-weight: lighter;
	font-size: 1.5rem;
	color: #fff;
	display: block;
	background: #f25d2e;
	padding: 20px 0;
	text-align: center;
}
.winners-mobile-ads img {
	width: 100%;
	height: auto;
}
.jackpot {
	padding: 70px 0;
	width: 80%;
	text-align: center;
	margin: auto;
	color: #5d5d5d;
	font-family: 'VAGRounded-Light';
	line-height: 23px;
	font-size: 14px;
}
.jackpot-show-app {
	padding-top:45px;
}
.jackpot-show-app iframe {
	width:100%;
	height:auto;
}
img.prize {
	width: 60%;
	border: solid 0px #eee;
	padding: 30px;
	margin: 25px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bottom-play-app {
	display: block;
	width:100%;
	text-align:center;
	margin-top: 30px;
}
.bottom-play-app a {
    position: relative;
    top: 0;
    margin: 0;
    left: auto;
    display: inline-block;
	text-align: center;
}
.no-show-app-desktop {
	display:none;
}
.jackpot-show-app h1 {
	margin:0;
	font-family: 'VAGRoundedStd-Thin';
	font-weight:lighter;
	font-size:50px;
	line-height:1;
	text-transform:uppercase;
	color:#e26109;
}

.video-thumbnail {
	background:#e26109;
	display: block;
	color:#fff;
}
.video-thumbnail p {
	margin:0px;
	padding:5px 10px 10px;
}
ul.home-bullets {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0rem;
    border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    border: dashed 1px #1178b9;
}

ul.home-bullets li {
    padding-left: 2rem;
    background-position: 65px 14px;
    background-size: 4px;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    border-bottom: dashed 1px #d9deda;
    padding: 7px;
    margin-bottom: 1px;
	color:#1178b9;
}
.intro-summary {
    position: relative;
    margin-top: 10px;
    float: left;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
ul.home-bullets li:last-child {
	border:0;
}
ul.home-bullets li:first-child {
	padding-top:0;
}
.stacks-icons-mobile h6 {
    margin: 0 0 8px;
    font-size: 18px;
	font-family: 'VAGRoundedStd-Thin';
	font-weight:lighter;
}
table.data-linked-Box a {
	font-weight:bold;
	font-family: 'VAG Rounded';
	text-decoration: underline;
	color:#2aa8e0;
}
.data-linked-Box a:hover {
	text-decoration:none;
}
table.data-linked-Box tr td {
	text-align:center;
}
.apps-icon {
	margin-top: 35px;
}
.apps-icon img {
    display: inline-block;
    width: 35%;
    margin-right: 5px;
}
footer .apps-icon {
	margin-top: 0px;
	margin-bottom:15px;
}
footer .apps-icon h5 {
	color:#6f51a8;
	margin:0;
	font-size:16px;
	padding: 0 0 7px 0;
}
footer .apps-icon img {
    width: 45%;
}


/*ol.home-bullets {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol.home-bullets li {
  counter-increment: my-awesome-counter;
}
ol.home-bullets li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}
*/


/*Networks Tab Switcher*/

.widget-lay-mobile {
	display: none;
}

footer {
	background: rgb(62,23,106);
	background: -moz-linear-gradient(90deg, rgba(62,23,106,1) 0%, rgba(33,20,83,1) 72%);
	background: -webkit-linear-gradient(90deg, rgba(62,23,106,1) 0%, rgba(33,20,83,1) 72%);
	background: linear-gradient(90deg, rgba(62,23,106,1) 0%, rgba(33,20,83,1) 72%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e176a", endColorstr="#211453", GradientType=1);
	padding-bottom: 30px;
	padding-top: 20px;
	position:relative;
}
.footer-logo-keed {
	display: table;
	width: 160px;
}
.footer-logo-keed img {
	width: 60%;
	height: auto;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
ul, ol {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
ul li {
	display: inline;
	list-style: outside none;
}
.footer-linked li {
	display: inline;
	list-style: outside none;
	padding-right: 15px;
}
.footer-linked li:last-child {
	padding-right: 0;
}
.footer-linked a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
}
.footer-linked a:hover {
	color: #f89520;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	text-decoration: underline;
}
.footer-linked {
	font-size: 12px;
	color: #fff;
	font-family: 'VAGRounded-Light';
	text-align: right;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	margin-top: 10px;
}
.footer-linked li.copyright {
	color: #F89520;
}
.footer-stars {
	fill: #F89520;
}
.footer-stars-app svg {
	width: 50px;
	height: auto;
}
.footer-stars-app {
	display: block;
	text-align: right;
}
[class*='grid'], [class*='col-'], [class*='mobile-'], .grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
	float: left;
	min-height: 1px;
	padding-right: 20px; /* column-space */
}
[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}
.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	overflow: hidden;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}
.grid-pad {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}
.push-right {
	float: right;
}
/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}
.col-1-2, .col-6-12 {
	width: 50%;
}
.col-1-3, .col-4-12 {
	width: 33.33%;
}
.col-1-4, .col-3-12 {
	width: 25%;
}
.col-1-5 {
	width: 20%;
}
.col-1-6, .col-2-12 {
	width: 16.667%;
}
.col-1-7 {
	width: 14.28%;
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.1%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-12 {
	width: 8.33%;
}
/* Layout Columns */

.col-11-12 {
	width: 91.66%
}
.col-10-12 {
	width: 83.333%;
}
.col-9-12 {
	width: 75%;
}
.col-5-12 {
	width: 41.66%;
}
.col-7-12 {
	width: 58.33%
}
/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}
.push-1-2, .push-6-12 {
	margin-left: 50%;
}
.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}
.push-1-4, .push-3-12 {
	margin-left: 25%;
}
.push-1-5 {
	margin-left: 20%;
}
.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}
.push-1-7 {
	margin-left: 14.28%;
}
.push-1-8 {
	margin-left: 12.5%;
}
.push-1-9 {
	margin-left: 11.1%;
}
.push-1-10 {
	margin-left: 10%;
}
.push-1-11 {
	margin-left: 9.09%;
}
.push-1-12 {
	margin-left: 8.33%
}
.content {
	padding-top: 0px;
	padding-bottom: 10px;
}

@media handheld, only screen and (max-width: 767px) {
.grid {
	width: 100%;
	min-width: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 20px; /* grid-space to left */
	padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
}
[class*='col-'] {
	width: auto;
	float: none;
	margin: 10px 0;
	padding-left: 0;
	padding-right: 10px; /* column-space */
}
[class*='col-'] [class*='col-'] {
	padding-right: 0;
}
/* Mobile Layout */

[class*='mobile-col-'] {
	float: left;
	margin: 0 0 10px;
	padding-left: 0;
	padding-right: 10px; /* column-space */
	padding-bottom: 0;
}
.mobile-col-1-1 {
	width: 100%;
}
.mobile-col-2-3, .mobile-col-8-12 {
	width: 66.66%;
}
.mobile-col-1-2, .mobile-col-6-12 {
	width: 50%;
}
.mobile-col-1-3, .mobile-col-4-12 {
	width: 33.33%;
}
.mobile-col-1-4, .mobile-col-3-12 {
	width: 25%;
}
.mobile-col-1-5 {
	width: 20%;
}
.mobile-col-1-6, .mobile-col-2-12 {
	width: 16.667%;
}
.mobile-col-1-7 {
	width: 14.28%;
}
.mobile-col-1-8 {
	width: 12.5%;
}
.mobile-col-1-9 {
	width: 11.1%;
}
.mobile-col-1-10 {
	width: 10%;
}
.mobile-col-1-11 {
	width: 9.09%;
}
.mobile-col-1-12 {
	width: 8.33%
}
/* Layout Columns */

.mobile-col-11-12 {
	width: 91.66%
}
.mobile-col-10-12 {
	width: 83.333%;
}
.mobile-col-9-12 {
	width: 75%;
}
.mobile-col-5-12 {
	width: 41.66%;
}
.mobile-col-7-12 {
	width: 58.33%
}
.hide-on-mobile {
	display: none !important;
	width: 0;
	height: 0;
}
.footer-logo-keed {
	margin: auto;
}
.footer-logo-keed {
	text-align: center;
}
.footer-logo-keed img {
	width: 85px;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.widget-App {
	display: none;
}
.hero-big {
	width: 84%;
	padding: 10px 0;
}
.select-3-numbers {
	width: 50%;
}
.dial-me-app div h1 {
	font-size: 27px;
}
.dial-me-app div {
	text-align: center;
}
.dial-me-app {
	display: none;
}
.money-hero img {
	width: 70%;
}
.hero-big div.intro-summary::before {
	margin-left: calc(54% - 65px);
}
.nla-content p {
	font-size: 25px;
}
h4.header-text {
	padding-top: 20px;
}
.footer-linked, .footer-stars-app {
	text-align: center;
}
footer .social-icons {
	text-align: center !important;
	width:100%;
	right:0;
}
section.site-wrapper-app {
	padding: 0;
}
.page-section-flu {
	padding: 0
}
.home-app {
	display: none;
}
.Application-Clicks {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	top: -57px;
	margin-top: -22px;
	position: relative;
}
.logo-brand {
	top: -20px;
}
.hero-mbl {
	font-family: 'VAG Rounded';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 2px 3px #5b3624;
	padding-bottom: 10px;
	width:100%;
	line-height:1;
	margin-bottom: 0;
    margin-top: 20px;
}
.Application-Clicks h2.home-hero-mbl {
	background-size: 44px 44px;
	background-repeat: no-repeat;
	background-image: url(../svg/home-hero-mobile.svg);
	background-position: center center;
	background-origin: content-box;
	background-size: cover;
	width: 33.14286em;
	max-width: 366.8px;
	text-indent: -999px;
	height: 70px;
}
#deposit .networks img {
	max-width: 74%;
}
#deposit .networks {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.play-button {
	top: 100%;
	right:0px;
}
img.prize {
	width: 100%;
}
.jackpot {
	padding: 20px 0;
}
.jackpot .money-hero img {
	width: 90%;
}
h4.header-text {
	font-size:25px;
}
.logo-brand svg {
	width: 70px;
	margin-bottom: 10px;
}
.jackpot-show-app h1 {
	font-size:30px;
}
.bottom-play-app a {
	width:100%;
}
.hero-big #deposit {
	display: block;
	margin-bottom: 30px;
}
.momo-users img {
	width:40% !important;
	text-align:center;
}
.momo-users {
	text-align:center;
}
.w3-bar {
    text-align: center;
	margin-bottom: 0 !important;
    padding-bottom: 2px !important;
	margin-top: 20px !important;
}
.w3-bar button img {
    width: 80px !important;
}
.payment-app-section {
    padding-top: 20px !important;
    margin-top: 5px !important;
}
.callbacks_container {

}
.widget-lay-mobile {
	display:block;
}
.checkmark {
    top: -35px;
}
.bet-app input[type=number], .bet-app input[type=tel] {
	box-shadow:none;
}
.apps-icon img {
    width: 30%;
    margin-right: 5px;
}
.apps-icon {
    margin-top: 8px;
    text-align: left;
}
#close-promo {
    right: 16px;
}
}

@media handheld, only screen and (max-width: 360px) {
.hero-big div.intro-summary::before {
	margin-left: calc(54% - 65px);
}
.click-play-btn {
    padding: 10px 30px 10px 30px !important;
}
.hero-mbl {
    padding-bottom: 2px;
}
.click-play-btn {
	border:8px;
}
.Application-Clicks {
	top: -64px;
}
.checkmark {
    top: -30px;
}
}

@media handheld, only screen and (max-width: 991px) {
.section-three-app {
	padding-top: 20px !important;
	padding-bottom: 50px;
	padding: 0px;
}
.money-hero em {
	bottom: -7px;
	font-size: 30px;
	margin-bottom: 0px;
}
.hero-big {
	margin-top: 0;
}
.dial-me-app {
	top: 0;
	position: relative;
	width: 63%;
	margin: auto !important;
	margin-left: 160px;
}
.col-1-2 {
	padding-left: 0 !important;
}
.dial-me-app div h1 {
	font-size: 25px;
}
.bet-app input[type=number] {
	width: 31.4%;
}
.hero-page-name {
	width: 40%;
}
._no_margin.col-1-2 {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
}
.section.site-wrapper-app {
	padding: 0;
}
.social-icons {
	top: 0px;
	right: 72px;
	position: absolute !important;
}

.footer-linked a, .footer-linked {
	font-size: 16px;
}
.footer-linked li {
	display: block;
}
.bet-app {
	background: rgba(241,241,241,.9);
	margin:15px;
}
.Application-Clicks {
	margin-top: 0px;
}
.bet-app input[type=tel], .bet-app input[type=number] {
	border: #e5e3df solid 1px;
}
.modal-wrapper {
	left: 65%;
}
.click-play-btn {
	padding: 17px 30px 14px 30px !important;
}
.winners-mobile-ads {
	display: block;
}

.no-show-app {
	display:none;
}

.no-show-app-desktop {
	display:block;
}
.jackpot-show-app iframe {
	height:220px;
	width:100%;
}
.jackpot {
	width:100%;
}
.flex-md-column, 
.column-text {
	width:100%;
}



@media (max-width: 1440px) and (min-width: 1025px) {
.app-side-bar {
	bottom: 64px;
}
/*.home-app {
	background:#0F0;
	height:5000px;
}*/
.checkmark {
	left: 5px !important;
}
.check-reset img {
	width: 20% !important;
}
}
